body{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    width: auto;
    height: 630px;
}

.gallery img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: .6;
transition: .5s ease;
}

.gallery img:hover {
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

.gallery2 {
    display: flex;
    width: auto;
    height: 630px;
}

.gallery2 img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: .6;
transition: .5s ease;
}

.gallery2 img:hover {
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}